*{
    margin: 0px;
    padding: 0px;
}


body {
    background: #ffffff;
background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(183, 196, 186, 1) 50%, rgba(242, 242, 233, 1) 100%);
background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(183, 196, 186, 1) 50%, rgba(242, 242, 233, 1) 100%);
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(183, 196, 186, 1) 50%, rgba(242, 242, 233, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#F2F2E9", GradientType=1);
}


.grande {
    
    padding: 5px;
    box-shadow: 1px 2px 10px black;
    background-color: rgb(163 154 154);

}

.icono {
    width: 80px;
    margin-bottom: -18px;
    height: 35px;
}

.grande nav ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    list-style: none;
}




.grande nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Jockey One", sans-serif;

}


.imagen {
    background-image: url(./assets/principal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 700px;
    
}