*{
    margin: 0px;
    padding: 0px;
}


body {
    background: #ffffff;
background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(183, 196, 186, 1) 50%, rgba(242, 242, 233, 1) 100%);
background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(183, 196, 186, 1) 50%, rgba(242, 242, 233, 1) 100%);
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(183, 196, 186, 1) 50%, rgba(242, 242, 233, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#F2F2E9", GradientType=1);
}


.grande {
    
    padding: 5px;
    box-shadow: 1px 2px 10px black;
    background-color: rgb(163 154 154);

}

.icono {
    width: 80px;
    margin-bottom: -18px;
    height: 35px;
}

.grande nav ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    list-style: none;
}




.grande nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Jockey One", sans-serif;

}


.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  padding: 20px;
  display: flex;
}


.texto {
    font-size: 18px;
    padding: 20px;
    display: flex;
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jockey-one-regular:hover {
     box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.la_img img {
   width: 80%;
    padding: 0;
    margin-left: 120px;
    box-shadow: -23px 18px 24px #060505;
    border-radius: 20px;
    margin-bottom: 80px;
    
}


@media(max-width:375px){
    .la_img img {
        margin-top: 30px;
        margin-left: 37px;
        
    }

}

@media(min-width:375px){
    .la_img img {
        margin-top: 30px;
        margin-left: 37px;
        
    }

}

 @media(min-width:425px){
    .la_img img {
        margin-top: 30px;
        margin-left: 47px;
        
    }

}

@media(min-width:614px){
    .la_img img {
        margin-top: 30px;
        margin-left: 77px;
        
    }

}

@media(min-width:1024px){
    .la_img img {
        margin-top: 30px;
        margin-left: 108px;
        
    }

}


@media(min-width:1440px){
    .la_img img {
        margin-top: 30px;
        margin-left: 158px;
        
    }

}